*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2';
    font-size: 16px;
}
body{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 60px 20px 0px;
}
#logo-div{
    display: flex;
    align-items: center; 
    color: #d6d6d6;
    font-weight: 600;
    font-size: 20px;
}
#logo-div p{
    margin: 0px -90px;
}
#logo{
    width: 150px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}
nav ul li{
    list-style: none;
}
nav ul li a, #tickets{
    text-decoration: none;
    color: #d6d6d6;
    font-weight: 400;
}
#active{
    color: #fff;
    font-weight: 500;
}
#tickets div{
    background-color: #F2DD21;
    color: #000;
    font-weight: 500;
    height: 35px;
    width: 145px;
    padding: 7px 0px;
    text-align: center;
    border-radius: 5px;
}

#announcement{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
#tag{
    background-color: #1E6DEB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    position: relative;
    top: -33px;
}
#announcement div p{
    color: #fff;
    font-weight: 500;
}
#outer-circle{
    border:1px solid #fff;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 0px 10px;
}
#inner-circle{
    background-color: #d6d6d6;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    left: -23px;
}
#run-text-back{
    background-color: #474747;
    color: #fff;
    height: 30px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
#run-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 15s slide infinite linear;
}
#run-text p{
    margin: 0px 10px;
}
span a{
    text-decoration: none;
    color: #F2DD21;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

#one,#two{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
#one img{
    /*height: 450px;*/
    width: 50%;
}
#head-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head-link a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}
#back1{
    width: 150px;
    height: 33px;
    background-color: #fff;
    border-radius: 33px;
    font-weight: 500;
    padding: 6px 0px;
}
#back2{
    width: 150px;
    height: 33px;
    background-color: #1E6DEB;
    border-radius: 33px;
    font-weight: 500;
    padding: 6px;
}
#outer-circle1{
    border:1px solid #FF3A3A;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: relative;
    right: 38px;
}
#inner-circle1{
    background-color: #FF3A3A;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    right: 25px;
}
#sub-head{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 15px 0px 8px;
}
#sub-para{
    color: #d6d6d6;
    margin: 0px 0px 20px;
    line-height: 2;
}
.heading{
    /*font-size: 128px;*/
    font-size: 6rem;
    font-weight: 800;
    color: #fff;
    opacity: 30%;
}

#two img{
    border-radius: 15px;
    margin: 10px;
}
.headings{
    /*font-size: 128px;*/
    font-size: 6rem;
    font-weight: 800;
    color: #fff;
}
#side{
    background-color: #F2DD21;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    padding: 20px;
    text-align: left;
    margin: 10px 20px;
}
#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    text-align: left;
}
h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
#two a{
    text-decoration: none;
    color: #000;
}
#img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#card-track{
    display: flex;
    margin: 60px 0px;
    white-space: nowrap;
    overflow: hidden;
}
#anime{
    display: flex;
    align-items: center;
    animation: 15s slide infinite linear;
}
#cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 15px;
}
#card{
    background: hsla(54, 89%, 54%, 1);
    background: linear-gradient(144deg, hsla(54, 89%, 54%, 1) 0%, hsla(54, 100%, 83%, 1) 51%, hsla(54, 89%, 54%, 1) 100%);
    background: -moz-linear-gradient(144deg, hsla(54, 89%, 54%, 1) 0%, hsla(54, 100%, 83%, 1) 51%, hsla(54, 89%, 54%, 1) 100%);
    background: -webkit-linear-gradient(144deg, hsla(54, 89%, 54%, 1) 0%, hsla(54, 100%, 83%, 1) 51%, hsla(54, 89%, 54%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2DD21", endColorstr="#FFF6A8", GradientType=1 );
    width: 300px;
    border-radius: 20px;
}
#card img{
    height: 350px;
    position: relative;
    left: -23px;
}
#card-status{
    background-color: #fff;
    width: 300px;
    border-radius: 10px 10px 20px 20px;
    text-align: center;
    padding: 10px;
    position: relative;
    top: -55px;
}
#card-status div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#name{
    margin: 10px;
}
#text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
}
#name,#high{
    font-size: 20px;
    font-weight: 700;
}
.content{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#leaderboard{
    color: #000;
    background-color: #d6d6d6;
    width: 600px;
    border-radius: 15px;
    padding: 10px;
    margin: 50px 10px;
}
#leaderboard div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    border-radius: 5px;
}
#club-name{
    width: 150px;
}
#team-info:hover{
    background-color: hsla(54, 89%, 54%, 0.336);
}
#team-high{
    background-color: #f7e43c;
}
hr{
    border: 0.5px solid #c2c2c2;
    width: 500px;
    margin: 0px 40px;
}
#matches{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#match-card{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
#match{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#team1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
#vs{
    font-size: 24px;
    font-weight: 700;
}
#time{
    font-weight: 600;
}
#time1{
    font-size: 14px;
    margin: 0px 0px 15px 0px;
}
#leader-align{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#news{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0px;
}
#news-card{
    background-color: #ffd;
    width: 250px;
    border-radius: 5px;
    margin: 15px;
}
#news-card img{
    width: 250px;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}
#news-card div{
    padding: 10px;
}
#news-head{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
#view-article{
    text-decoration: none;
}
#view-article p{
    background-color: #1E6DEB;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
#desc{
    color: #474747;
    margin: 10px 0px;
    font-size: 14px;
}
#post-date{
    font-size: 15px;
    background-color: #F2DD21;
    text-align: center;
    width: 130px;
    padding: 5px 0px;
    margin: 0px -2px 5px;
    border-radius: 10px;
}
#more-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#more-link p{
    background-color: #fff;
    width: 160px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: #000;
    font-weight: 500;
}
#more-link p:hover{
    background-color: #f0f0f0;
}
#one,#two,#three,#four,#five,#six{
    padding: 40px 0px 0px;
    background-image: url("./images/background.png");
    background-size: cover;
}

#img-grp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    margin: 50px 40px;
}
#img-grp img{
    transition: 1s;
}
#img-grp img:hover{
    transform: scale(1.3);
    z-index: 2;
}

#seven{
    background-color: #F2DD21;
    padding: 20px 0px;
}
#spons{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
#logos{
    overflow: hidden;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 50px;
}
#logo-scroll{
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    padding: 40px 0px;
    animation: 15s slide infinite linear;
    text-align: center;
}
#logo img{
    width: 150px;
}

#hamburger{
    background-color: #F2DD21;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#hamburger div{
    background-color: #000;
    width: 35px;
    height: 2px;
    margin: 3px;
}
@media(max-width:950px){
    #hamburger{
        display: none;
    }
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}